<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Create Product
    </h1>
  </section>

  <!-- Main content -->

  <section class="content">
    <div class="row">
      <div class="col-md-8 col-md-push-2">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Product</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form role="form" method="post" #addProduct ="ngForm" (ngSubmit)="addNewProduct()">
            <div class="box-body">
              <div class="form-group">
                <label for="name">Name</label>
                <input ngModel #productName = "ngModel" required type="text" name="name" class="form-control" id="name" placeholder="Enter name">
                <div class="alert alert-danger" *ngIf="productName.touched && !productName.valid">
                    Product name is required
                </div>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <input  ngModel #productDesc = "ngModel" required type="text" name="description" class="form-control" id="description" placeholder="Enter description">
                <div class="alert alert-danger" *ngIf="productDesc.touched && !productDesc.valid">
                    Product description is required
                </div>
              </div>
              <div class="form-group">
                <label for="color">Color</label>
                <input ngModel #productColor = "ngModel" required type="text" name="color" class="form-control" id="color" placeholder="Enter color">
                <div class="alert alert-danger" *ngIf="productColor.touched && !productColor.valid">
                    Product color is required
                </div>
              </div>
              <div class="form-group">
                <label for="quantity">Quantity</label>
                <input ngModel #productQuantity = "ngModel" required pattern="^([0-9]*)$" type="text" name="quantity" class="form-control" id="quantity" placeholder="Enter quantity">
                <div class="alert alert-danger" *ngIf="productQuantity.touched && !productQuantity.valid">
                  <div *ngIf="productId.errors.required">Product quantity is required</div>
                  <div *ngIf="productId.errors.pattern">Product quantity should be numbers only</div>
              </div>
              </div>
              <div class="form-group">
                <label>Brand</label>
                <select ngModel #productBrand = "ngModel" required class="form-control" name="brand">
                  <option value="A">A</option>
                  <option value="B">B</option>
                </select>
                <div class="alert alert-danger" *ngIf="productBrand.touched && !productBrand.valid">
                  Product Brand is required
              </div>
              </div>
              
              <div class="form-group">
                <label>Size</label>
                <select class="form-control">
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </div>
              <div class="form-group">
                <label for="price">Price</label>
                <input  ngModel #productPrice = "ngModel" required pattern="^([1-9]*)$" type="text" name="price" class="form-control" id="price" placeholder="Enter price">
                <div class="alert alert-danger" *ngIf="productPrice.touched && !productPrice.valid">
                  <div *ngIf="productPrice.errors.required">Product price is required</div>
                  <div *ngIf="productPrice.errors.pattern">Product price should be numbers only</div>
                </div>
              </div>
              <div class="form-group">
                <label for="discountPrice">Discounted Price</label>
                <input  ngModel #discountPrice = "ngModel" required type="text" name="price" class="form-control" id="discountPrice" placeholder="Enter discounted price">
                <div class="alert alert-danger" *ngIf="discountPrice.touched && !discountPrice.valid">
                  <div *ngIf="discountPrice.errors.required">Product price is required</div>
                </div>
              </div>
              <div class="form-group">
                  <label for="image">Multiple Image Upload</label>
                  <input type="file" ng2FileSelect [uploader]="uploader" multiple  />
                  
                </div>

                <div class="col-md-12" style="margin-bottom: 40px">
                    
                       <h3>Upload queue</h3>
                       <p>Queue length: {{ uploader?.queue?.length }}</p>
                   
                       <table class="table">
                         <thead>
                         <tr>
                           <th width="50%">Name</th>
                           <th>Size</th>
                           <th>Progress</th>
                           <th>Status</th>
                           <th>Actions</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr *ngFor="let item of uploader.queue">
                           <td><strong>{{ item?.file?.name }}</strong></td>
                           <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                           <td *ngIf="uploader.isHTML5">
                             <div class="progress" style="margin-bottom: 0;">
                               <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                             </div>
                           </td>
                           <td class="text-center">
                             <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                             <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                             <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                           </td>
                           <td nowrap>
                             <button type="button" class="btn btn-success btn-xs"
                                 (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                               <span class="glyphicon glyphicon-upload"></span> Upload
                             </button>
                             <button type="button" class="btn btn-warning btn-xs"
                                 (click)="item.cancel()" [disabled]="!item.isUploading">
                               <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                             </button>
                             <button type="button" class="btn btn-danger btn-xs"
                                 (click)="item.remove()">
                               <span class="glyphicon glyphicon-trash"></span> Remove
                             </button>
                           </td>
                         </tr>
                         </tbody>
                       </table>
                   
                       <div>
                         <div>
                           Queue progress:
                           <div class="progress" style="">
                             <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                           </div>
                         </div>
                         <button type="button" class="btn btn-success btn-s"
                             (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                           <span class="glyphicon glyphicon-upload"></span> Upload all
                         </button>
                         <button type="button" class="btn btn-warning btn-s"
                             (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                           <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                         </button>
                         <button type="button" class="btn btn-danger btn-s"
                             (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                           <span class="glyphicon glyphicon-trash"></span> Remove all
                         </button>
                       </div>
                   
                     </div>

            </div>


            <!-- /.box-body -->

            <div class="box-footer">
              <div class="col-md-4 col-md-push-8">
                <button type="submit" [disabled]="addProduct.invalid" class="btn btn-primary btn-block pull-right">Submit</button>
              </div>
            </div>
          </form>
          <!-- form ends -->
        </div>
        <!-- /.box -->
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </section>

  <!-- /.content -->
</div>
